### Writing

#### Two Six Tech

- [Visualizing Programming Behaviors with Stack Overflow](https://twosixtech.com/blog/visualizing-programming-behaviors-with-stack-overflow/)
- [Choosing Open Source Libraries and Analyzing Risks](https://twosixtech.com/choosing-open-source-libraries-and-analyzing-risks/)

#### Chartio

- [A Deeper Look into Chartio's Visualization Library](https://web.archive.org/web/20210423171127/https://chartio.com/blog/a-deeper-look-into-chartios-visualization-library/)
- [Why Chartio Chose Vega](https://web.archive.org/web/20210423181051/https://chartio.com/blog/the-best-charts-for-our-customers-why-chartio-chose-vega/)
- [Sparklines: New Chart Type](https://web.archive.org/web/20220926150706/https://chartio.com/blog/new-chart-type-sparklines/)

#### Atlassian

- [Introducing a New Table Chart Experience](https://community.atlassian.com/forums/Atlassian-Analytics-articles/We-re-introducing-a-new-table-chart-experience/ba-p/2450718)
